<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo</title>
    <link rel="stylesheet" href="/correo/correo.css">
    <script src="https://kit.fontawesome.com/9d1bdc5260.js" crossorigin="anonymous"></script>
</head>
<body>
<dialog class="dialog__eliminar" >
    <p class="dialog__texto">¿Deseas eliminar el mensaje solo de la carpeta en la que se encuentra (el mensaje estará de vuelta en la carpeta de Entrada o Enviados, cualquiera que sea su origen) o eliminarlo completamente?</p>
    <div class="dialog__elecciones">
        <button class="dialog__boton boton--carpeta" >Carpeta</button>
        <button class="dialog__boton boton--completamente">Completamente</button>
        <button class="dialog__boton boton--cancelar" autofocus>Cancelar</button>
    </div>
</dialog>
<div class="principal">
    <aside class="aside">
        <div class="aside__redactar">
            <button class="aside__redactar redactar--boton">Redactar
                <i class="fa-solid fa-pen-to-square" style="color: #1e1e1e;"></i>
            </button>
        </div>
        <div class="aside__carpetas">
        </div>
        <div class="aside__crearCarpetas">
            <div class="aside__crearCarpetas crearCarpetas--contenedor3">
                <p class="aside__crearCarpetas crearCarpetas--nuevaCarpeta">Nueva carpeta</p>
                <input placeholder="Nueva carpeta" class="aside__crearCarpetas crearCarpetas--input">
            </div>
            <div class="aside__crearCarpetas crearCarpetas--contenedor">
                <i class="fa-solid fa-folder-plus fa-xs" style="color: #1e1e1e;"></i>
            </div>
            <div class="aside__crearCarpetas crearCarpetas--contenedor2">
                <i class="fa-regular fa-floppy-disk fa-sm"></i>
            </div>
        </div>
    </aside>
    <main class="main"></main>
    <aside class="asideDerecho">
        <div class="asideDerecho__contenedor">
            <i class="fa-solid fa-user" style="color: #1e1e1e;"></i>
        </div>
        <div class="asideDerecho__contenedor asideDerecho__logout">
            <i class="fa-solid fa-right-from-bracket" style="color: #1e1e1e;"></i>
        </div>
    </aside>
</div>
<script defer src="/correo/correo.js"></script>
</body>
</html>
