body {
    margin: 0;
    background-image: linear-gradient(#BDCCF0, #A4B3E9);
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    box-sizing: border-box;
    color: #1e1e1e;
}

.principal {
    display: flex;
    margin: 0;
    height: 100vh;
    align-items: start;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.aside {
    width: 20%;
    min-width: 210px;
    display: flex;
    flex-direction: column;
    background-color: #BDCCF0;
    border: #1e1e1e solid 1px;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 0 15px;
    box-sizing: border-box;
}

.aside__carpetas {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.aside__crearCarpetas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.aside__boton {
    display: flex;
    background: #aaa0;
    border: 1px solid transparent;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0 10px 0 20px;
    height: 40px;
    cursor: pointer;
    position: relative;
}
.aside__botonTexto {
    width: 95%;
}
.aside__botonMenu {
    align-items: center;
    justify-content: center;
    width: 5%;
    border-radius: 50%;
    display: none;
}
.aside__botonMenu:hover {
    background-color: #aaaaaa;
}


.crearCarpetas--contenedor3 {
    background: #aaa0;
    border: 1px solid transparent;
    font-size: 1rem;
    margin: 15px 0;
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
    width: 85%;
}
.crearCarpetas--nuevaCarpeta {
    text-align: left;
    margin: 0;
}
.crearCarpetas--input {
    font-size: 0.9rem;
    border-radius: 5px;
    border: 2px solid #1e1e1e;
    outline: transparent;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
    display: none;
    color: #7e7e7e;
}

.redactar--boton {
    color:#1e1e1e;
    background-color: #FEFBFF;
    margin: 20px 0;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-color: transparent;
    cursor: pointer;
}

.redactar--boton:hover {
    border-color: #1e1e1e;
}

.main {
    width: 65%;
    min-width: 600px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: #BDCCF0;
    border: #1e1e1e solid 1px;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    overflow: auto;
    position: relative;
}

.aside__boton:hover {
    background-color: #FEFBFFAA;
}
.aside__boton:hover > .aside__botonMenu {
    display: flex;
}

.main__mensaje {
    display: flex;
    background-color: #FEFBFF;
    color: #1e1e1e;
    font-size: .8rem;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin: 3px 0;
}
.mensaje--leido {
    background-color: #FEFBFF33;
}

.main__mensaje > p {
    margin: 0;
    padding: 0;
    height: 50%;
}
.main__mensaje:hover > .main__guardar,.main__mensaje:hover > .main__eliminar {
    display: flex;
}
.main__remitente {
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main__contenido {
    flex-basis: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main__fecha {
    flex-basis: 7%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .7rem;
}

.main__guardar, .main__eliminar{
    flex-basis: 5%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
}
.main__guardar {
    position: relative;
}
.main__seleccion {
    border: 1px solid #1e1e1e;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    min-width: 200px;
    z-index: 2;
    position: absolute;
    top: 50px;
}
.main__select {
    border-radius: 5px;
    margin-top: 3px;
    width: 100%;
}

.main__asunto {
    font-weight: 900;
}
.main__correoAbierto {
    width: 100%;
    box-sizing: border-box;
}
.main__headerMensajeAbierto {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main__fechaMensajeAbierto {
    font-size: .8rem;
}
.main__tituloCorreo {
    margin: 10px 0;
}
.main__correoAbierto>p {
    font-size: 1rem;
}
.main__tituloCorreo {
    font-size: 1.5rem;
}
.main__redaccion{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 400px;
    min-height: 400px;
    background-color: #FEFBFF;
    border-radius: 12px;
    border: #b8bcbf 1px solid;
    box-sizing: border-box;
    padding: 0;

}
.main__header {
    display: flex;
    flex-direction: row;
    background-color: #b8bcbf;
    border-radius: 10px 10px 0 0;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main__tituloNuevoMensaje {
    font-size: 0.8rem;
    width: 90%;
}
.main__cerrarNuevoMensaje {
    display: flex;
    margin: auto;
}
.main__cerrarNuevoMensaje:hover {
    background-color: #eee;
    cursor: pointer;
}
.main__redactarNuevoMensaje {
    box-sizing: border-box;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fa-2xs {
    height: 15px;
    width: 15px;
}
.main__input {
    width: 100%;
    border: 0;
    border-bottom: #7e7e7e 1px solid;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main__input:focus{
    background-color: #ddd;
    outline: none;
}
.crearCarpetas--contenedorCancelar {
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    padding: 8px 0;
}

.crearCarpetas--contenedor, .crearCarpetas--contenedor2 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 40px;
    padding: 8px 0;
    cursor: pointer;
}
.crearCarpetas--contenedor2 {
    display: none;
}
.main__inputText{
    resize: none;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main__inputText::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
    background-color: #f1f1f1; /* Fondo del scroll */
}
.main__inputText::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scroll */
    border-radius: 10px;
}
.main__inputText::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: default;
}
.main__enviar {
    border-radius: 10px;
    margin: 5px 0;
    font-size:1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: transparent 1px solid;
    background-color: black;
    color: white;
    cursor: pointer;
    height: 40px;
}
.main__enviar:hover {
    border-color: black;
    background-color: white;
    color: black;
}
.main__enviar:active {
    background-color: #aaa;
}
.main__guardar:hover, .main__eliminar:hover {
    background-color: #1e1e1e58;
    border-radius: 50%;
}
.main__volver:hover {
    background-color: white;
}
.crearCarpetas--contenedor:hover, .crearCarpetas--contenedor2:hover, .crearCarpetas--contenedorCancelar:hover {
    background-color: white;
    border-radius: 50%;
}
.fa-pen-to-square {
    margin-left: 5px;
}
.fa-folder-plus {
    cursor: pointer;
}
.asideDerecho {
    min-width: 32px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

.asideDerecho__contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.asideDerecho__contenedor:hover {
    background-color: #FEFBFF;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton__aside__seleccionado {
    background-color: #FEFBFF;
    text-align: center;
}
.botonTexto__aside__seleccionado {
    text-align: center;
}
option, select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dialog__eliminar {
    z-index: 1;
    width: 30%;
    padding: 10px;
    border: 1px solid #1e1e1e;
    top: 5px;
    border-radius: 3px;
    background-color: #f3efef;
}
.dialog__eliminar::backdrop {
    background-color: #1e1e1e;
    opacity: 0.5;
}
.dialog__texto {
    font-size: 0.95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px;
    text-align: center;
}
.dialog__elecciones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
}
.dialog__boton {
    padding: 12px 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    cursor: pointer;
    background-color: #A4B3E9;
    border: #8a9ae1 1px solid;
    font-weight: 600;
}
.boton--cancelar {
    border-color: transparent;
    background-color: black;
    color: white;
}
.dialog__boton:hover {
    background-color: #fff;
    border: #8a9ae1 1px solid;

}
.boton--cancelar:hover {
    background-color: white;
    border-color: #1e1e1e;
    color: #1e1e1e;
}